<main login-controller>
    <modal id="registerBox" open="ctrl.showRegisterModal">
        <div ng-if="!ctrl.isRegistering && !ctrl.registrationDone">
            <h1>Register</h1>

            <form id="registerForm" ng-submit="ctrl.register()">
                <span class="error" ng-if="ctrl.emailExists">Email exists!</span>
                <div>
                    <label for="rEmail">Email</label>
                    <input type="email" id="rEmail" ng-model="ctrl.newUser.email" required />
                </div>
                <div>
                    <label for="rPassword">Password</label>
                    <input type="password" id="rPassword" ng-model="ctrl.newUser.password" required pattern=".{5}.*"
                           title="Minimum 5 characters." />
                </div>
                <input type="submit" value="Register" ng-click="ctrl.register()" />
            </form>
        </div>
        <div ng-if="ctrl.isRegistering">
            <loading></loading>
        </div>
        <div ng-if="ctrl.registrationDone">
            <h1>Done!</h1>
            <p>You have successfully registered and may now login</p>

            <button ng-click="ctrl.closeRegisterBox()">Close</button>
        </div>
    </modal>
    <modal open="ctrl.showResetModal">
        <h1>Reset Password</h1>
        <p class="error">
            Resetting passwords are not implemented, yet.
        </p>
    </modal>
    <modal open="ctrl.showLicensesModal">
        <h1>License information</h1>
        <dl>
            <dt><a href="../images/bg.jpg">Login background image</a> (CC BY-SA)</dt>
                <dd>Compressed version of
                    <a href="http://500px.com/photo/60590780/forever-by-shady-s-">Forever by Shady S</a>
                </dd>

            <dt><a href="../images/design.jpg">Design your ideas photo</a> (CC BY)</dt>
                <dd><a href="https://flic.kr/p/5eAeR">Porch weather by Megan Ann</a></dd>

            <dt><a href="../images/share.jpg">Share them photo</a> (CC BY-NC-SA)</dt>
                <dd><a href="https://flic.kr/p/8AXJjr">Share-computer-key by Emilio Quintana</a></dd>

            <dt><a href="../images/collaborate.jpg">Share them photo</a> (CC BY-NC-SA)</dt>
                <dd><a href="https://flic.kr/p/dKABMs">Group-work by  Giulia Forsythe</a></dd>

            <dt><a href="../lib/components/panel/icons/user.svg">User menu icon</a> (CC BY-SA)</dt>
                <dd>Different colored version of
                    <a href="https://launchpad.net/ubuntu/+source/ubuntu-themes">Ubuntu mobile contact icon</a>
                </dd>
        </dl>
    </modal>
    <section>
        <span id="loginError" ng-if="ctrl.loginError">Incorrect email or password.</span>
        <form id="loginForm" ng-submit="ctrl.login()">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" ng-model="ctrl.user.email" required />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" ng-model="ctrl.user.password" required pattern=".{5}.*"
                       title="Minimum 5 characters." />
                <a onclick="document.querySelector('#loginSubmit').click();">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         version="1.1"
                         width="25"
                         height="45">
                        <g ng-repeat="x in [5, 10, 15, 20, 25]" data-x="{{ x }}">
                            <g ng-repeat="y in [5, 10, 15, 20, 25, 30, 35, 40, 45]">
                                <circle ng-if="(y <= 25 && x <= y) || (y > 25 && x+y <= 50)"
                                        ng-attr-cx="{{ x - 2.5 }}" ng-attr-cy="{{ y - 2.5 }}" r="1.8" />
                            </g>
                        </g>
                    </svg>
                </a>
                <input type="submit" id="loginSubmit" />
            </div>
        </form>
        <div id="registerButton">
            <button ng-click="ctrl.showRegisterModal = true">Not a member?</button>
            <p><a href ng-click="ctrl.showResetModal = true">Reset Password</a></p>
        </div>
        <a href="#more" ng-click="ctrl.scrollDown()">
            <svg id="down"
                 xmlns="http://www.w3.org/2000/svg"
                 version="1.1"
                 width="70"
                 height="40">
                <g ng-repeat="x in [15, 25, 35, 45, 55]">
                    <g ng-repeat="y in [5, 15, 25]">
                        <circle ng-if="(x <= 35 && y < x) || (x > 35 && x+y < 70)"
                                ng-attr-cx="{{ x }}" ng-attr-cy="{{ y }}" r="2" />
                    </g>
                </g>
                <g ng-repeat="x in [5, 15, 25, 35, 45, 55, 65]">
                    <circle ng-attr-cx="{{ x }}" ng-attr-cy="{{ (x <= 35) ? x : 70 - x }}" r="3" />
                </g>
            </svg>
        </a>
    </section>
    <div></div>
    <article id="more">
        <div>
            <h1>Design your ideas...</h1>
            <p>
                Use Cogito to develop, outline and visualise your ideas. Cogitos easy to
                use drawing paper is designed to be out of the way and let you go bananas.
                With special support for styluses and touch you may draw like you would
                on an actual paper.
            </p>
            <img src="../images/design.jpg" />

            <h1>...Share them...</h1>
            <p>
                By saving your work in the cloud you know that it's always backed up, easily
                available and of course, shareable. Share your ideas with a a few click and
                let your teammates, friends or coworkers comment and fork them.
            </p>
            <img src="../images/share.jpg" />

            <h1>...And collaborate on making them real</h1>
            <p>
                Use fast, easy to use tools for writing, planning and designing to keep your
                documentation in perfect condition through the whole project. Mix private
                sprint backlogs with shared product backlogs and use real-time editing so
                that everyone always stay in sync.
            </p>
            <img src="../images/collaborate.jpg" />
            <div class=".clear"></div>
        </div>
    </article>
    <footer>
        <div>
            <p>
                Cogito is under active development and should not be used for production work.
                Downtime and lost work may appear. Above features are planned and may not yet
                be implemented.
            </p>
            <p>
                Contact rasmus@eneman.eu for more information or questions.
            </p>
        </div>
        <p><a href ng-click="ctrl.showLicensesModal = true">Open Source Licenses</a></p>
    </footer>
</main>
