<main login-controller>
    <div id="registerBox" ng-class="{open: ctrl.showRegisterBox}">
        <div ng-if="!ctrl.isRegistering && !ctrl.registrationDone">
            <h1>Register</h1>

            <form id="registerForm" ng-submit="ctrl.register()">
                <span class="error" ng-if="ctrl.emailExists">Email exists!</span>
                <div>
                    <label for="rEmail">Email</label>
                    <input type="email" id="rEmail" ng-model="ctrl.newUser.email" required />
                </div>
                <div>
                    <label for="rPassword">Password</label>
                    <input type="password" id="rPassword" ng-model="ctrl.newUser.password" required pattern=".{5}"
                           title="Minimum 5 characters." />
                </div>
                <input type="submit" value="Register" />
            </form>
        </div>
        <div ng-if="ctrl.isRegistering">
            <loading></loading>
        </div>
        <div ng-if="ctrl.registrationDone">
            <h1>Done!</h1>
            <p>You have successfully registered and may now login</p>

            <button ng-click="ctrl.closeRegisterBox()">Close</button>
        </div>
    </div>
    <section>
        <span id="loginError" ng-if="ctrl.loginError">Incorrect email or password.</span>
        <form id="loginForm" ng-submit="ctrl.login()">
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" ng-model="ctrl.user.email" required />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" ng-model="ctrl.user.password" required pattern=".{5}"
                       title="Minimum 5 characters." />
                <a onclick="document.querySelector('#loginSubmit').click();">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         version="1.1"
                         width="25"
                         height="45">
                        <g ng-repeat="x in [5, 10, 15, 20, 25]" data-x="{{ x }}">
                            <g ng-repeat="y in [5, 10, 15, 20, 25, 30, 35, 40, 45]">
                                <circle ng-if="(y <= 25 && x <= y) || (y > 25 && x+y <= 50)"
                                        ng-attr-cx="{{ x - 2.5 }}" ng-attr-cy="{{ y - 2.5 }}" r="1.8" />
                            </g>
                        </g>
                    </svg>
                </a>
                <input type="submit" id="loginSubmit" />
            </div>
        </form>
        <div id="registerButton">
            <button ng-click="ctrl.showRegisterBox = true">Not a member?</button>
            <p><a href="#">Reset Password</a></p>
        </div>
        <a href="#more" ng-click="ctrl.scrollDown()">
            <svg id="down"
                 xmlns="http://www.w3.org/2000/svg"
                 version="1.1"
                 width="70"
                 height="40">
                <g ng-repeat="x in [15, 25, 35, 45, 55]">
                    <g ng-repeat="y in [5, 15, 25]">
                        <circle ng-if="(x <= 35 && y < x) || (x > 35 && x+y < 70)"
                                ng-attr-cx="{{ x }}" ng-attr-cy="{{ y }}" r="2" />
                    </g>
                </g>
                <g ng-repeat="x in [5, 15, 25, 35, 45, 55, 65]">
                    <circle ng-attr-cx="{{ x }}" ng-attr-cy="{{ (x <= 35) ? x : 70 - x }}" r="3" />
                </g>
            </svg>
        </a>
    </section>
    <article id="more">
        <div>
            <h1>Lorem ipsum dolor</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu consectetur dolor. Phasellus laoreet, libero ut fringilla pellentesque, arcu lorem tristique libero, tincidunt euismod sapien enim et urna. Integer ut turpis vestibulum, posuere lacus eu, convallis ante. Nulla dapibus orci nunc, quis convallis nisi tempus at. Suspendisse nibh leo, cursus id tortor ut, ultrices congue metus. Phasellus commodo luctus ante, eget tincidunt nulla fermentum sit amet. Etiam sed velit est. Aenean in accumsan mi, id suscipit turpis. Nulla ligula purus, semper nec sem sit amet, tincidunt fermentum dui. Fusce eu egestas mauris. Duis varius placerat sollicitudin.</p>

            <h1>Lorem ipsum dolor</h1>
            <p>Donec posuere facilisis sapien, sed fermentum lorem. Ut turpis velit, blandit sit amet tellus sed, tincidunt rutrum nulla. Etiam imperdiet scelerisque ipsum, ut sodales ligula cursus id. Integer at elit blandit, iaculis enim eu, mollis dui. Vivamus vehicula, felis nec dictum porta, erat libero volutpat sem, id blandit velit eros id nibh. Duis tincidunt vehicula elementum. Quisque tincidunt justo at magna vehicula consectetur. Nam vitae odio at diam luctus adipiscing. Nullam gravida augue nisl, non auctor nibh semper ut. Cras condimentum eros risus, vel tincidunt nunc pulvinar ac. Quisque condimentum, tortor tempus facilisis molestie, velit lorem aliquam enim, dictum pulvinar lectus ipsum et sapien. Nam vehicula gravida elementum. Suspendisse imperdiet porta nisl, ut fermentum purus vehicula vel. Curabitur in nibh id elit faucibus commodo. Aenean congue id sem vestibulum lacinia. Nulla venenatis nisi lobortis erat pharetra, nec vestibulum ligula mattis.</p>

            <h1>Lorem ipsum dolor</h1>
            <p>Maecenas semper, nisi non cursus condimentum, felis eros rutrum eros, vitae ultricies purus enim vitae purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lobortis, nisl commodo rutrum faucibus, est erat gravida nunc, in imperdiet metus magna vel erat. Duis a lacus lacinia, iaculis nisl id, euismod dui. Duis tempus urna in est cursus, sit amet iaculis mauris aliquet. Morbi non pulvinar tellus. Suspendisse potenti. Cras lacus elit, tincidunt sed sapien quis, pulvinar iaculis nibh.</p>

            <h1>Lorem ipsum dolor</h1>
            <p>Aliquam sed gravida ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam ut elit et augue dignissim iaculis in non tortor. Ut massa ante, varius sit amet mattis vel, pulvinar et dolor. Sed ornare sagittis lorem, sit amet fermentum tellus faucibus vel. Etiam blandit mauris vel odio placerat, at blandit purus congue. Suspendisse ut sagittis lectus, id consectetur nisi. Pellentesque sem velit, aliquet quis quam sed, ornare facilisis ipsum. Morbi at iaculis quam, sit amet vehicula elit. Praesent congue nisi eget ligula dapibus, eget ullamcorper ligula suscipit.</p>

            <h1>Lorem ipsum dolor</h1>
            <p>Vestibulum tempus mi ut urna accumsan, at ultricies ipsum faucibus. Nam molestie elit sit amet sem congue, tristique sagittis sapien tempus. Pellentesque interdum, dui eget imperdiet dapibus, mi metus condimentum tellus, at interdum leo quam sodales velit. Suspendisse lacinia ipsum ut tempus hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce fringilla justo ac libero vehicula tincidunt. Morbi nisi dolor, commodo mollis est tristique, rutrum tincidunt sapien. Mauris in risus laoreet, dictum libero ut, accumsan nulla. Curabitur eget feugiat enim, id fermentum magna. Aenean blandit nec lectus sit amet sagittis. Pellentesque non augue egestas, luctus lorem a, semper erat.</p>
        </div>
    </article>
    <footer>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia fringilla odio vel mattis. Donec a elit a nibh porta ultrices venenatis in diam. Aenean at hendrerit tellus, et dapibus nisi. Integer vel risus tincidunt, tempor justo et, laoreet libero. Maecenas aliquam, metus a vestibulum cursus, lacus nisl lacinia libero, sit amet porttitor diam lectus ac urna. Vivamus at faucibus lorem. Aenean vehicula pharetra velit, id consequat ante cursus vitae. Nullam vel magna dapibus, egestas tellus sit amet, accumsan leo. Phasellus eleifend molestie diam ac consequat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla posuere lacus eu ultricies malesuada.
        </div>
        <p>Background image used under CC-BY-SA. Original work: <a href="http://500px.com/photo/60590780/forever-by-shady-s-">Forever by Shady S</a>.</p>
    </footer>
</main>
