html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: #286C94;

    page {
        display: block;
        position: fixed;

        width: 100%;
        height: 100%;
    }
}

main {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    color: white;
    background-color: #333;
    font-family: Arial, sans-serif;

    modal {
        h1 {
            text-align: center;
        }

        .error {
            color: red;
        }

        form {
            margin-top: 30px;
            .error {
                position: absolute;
                top: 6.5rem;
                right: 9rem;
                color: red;
            }

            div {
                display: table-row;

                width: 100%;

                label, input {
                    display: table-cell;
                }

                label {
                    position: relative;

                    margin: 0;
                    padding: 0 1rem;

                    width: 5rem;

                    text-align: right;
                }

                input {
                    margin: 0.3rem 8px;
                    padding: 0.3rem;

                    width: 10rem;

                    background-color: rgba(255, 255, 255, 0.8);
                    border: 1px solid black;

                    font-size: 1rem;
                    transition: background-color 0.5s ease;
                }

                input.ng-touched:invalid:not(:focus):not(:active) {
                    border-color: red;
                    box-shadow: 0 0 3px red;
                }
            }

            p {
                margin-bottom: 3.8rem;

                font-size: 1.3rem;
                text-align: center;
            }
        }

        input[type="submit"], button {
            display: block;

            margin: 2rem auto;
            padding: 10px 50px;

            cursor: pointer;

            color: rgba(255, 255, 255, 0.8);
            background-color: rgba(0, 0, 0, 0.3);
            border: none;
            border-radius: 10px;

            font-size: 1.3rem;
            transition: background-color 0.5s ease;

            &:hover {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }

        loading {
            display: block;

            margin: auto;
            padding-top: 6rem;

            width: 40px;
            height: 40px;
        }

        dl {
            dt {
                padding-bottom: 0.5rem;
                font-weight: bold;

                a {
                    color: #333;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            dd {
                text-align: right;

                a {
                    color: #3c3a30;
                    white-space: nowrap;
                }
            }
        }
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: fixed;
        padding-top: 100px;

        z-index: 2;

        box-sizing: border-box;
        width: 100%;
        height: 100%;

        background: url(images/bg.jpg) no-repeat center center fixed;
        background-size: cover;

        pointer-events: none;

        #loginError {
            margin-left: 25px;
        }

        #loginForm {
            position: relative;
            padding-right: 50px;

            pointer-events: auto;

            div {
                display: table-row;
            }

            label, input, p {
                display: table-cell;
            }

            label {
                position: relative;

                margin: 0;
                padding: 0 10px;

                text-align: right;
                text-shadow: 0 0 3px #000;
            }

            input {
                margin: 0.3rem 8px;
                padding: 0.3rem;

                width: 200px;

                background-color: rgba(255, 255, 255, 0.8);
                border: none;

                font-size: 1rem;
                transition: background-color 0.5s ease;
            }

            input:hover, input:focus, input:active {
                background-color: rgba(255, 255, 255, 0.9);
            }

            input.ng-dirty.ng-invalid:not(:focus):not(:active) {
                outline: 1px solid red;
                box-shadow: 0 0 3px red;
            }

            input[type="submit"] {
                position:absolute;
                visibility:hidden;
            }

            div:first-of-type label::after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;

                width: 1px;
                height: 70px;

                background: linear-gradient(to top, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.1) 100%);
            }

            div+div {
                label::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;

                    width: 1px;
                    height: 70px;

                    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.1) 100%);
                }

                svg {
                    position: absolute;
                    top: 0;
                    margin-top: 0.95rem;

                    height: 4rem;

                    cursor: pointer;

                    transition: fill 0;
                }

                svg [data-x] circle {
                    fill: rgba(255, 255, 255, 0.7);
                }

                svg:hover [data-x] circle {
                    fill: white;
                }

                svg:hover [data-x="5"] circle {
                    transition-delay: 0.1s;
                }

                svg:hover [data-x="10"] circle {
                    transition-delay: 0.2s;
                }

                svg:hover [data-x="15"] circle {
                    transition-delay: 0.3s;
                }

                svg:hover [data-x="20"] circle {
                    transition-delay: 0.4s;
                }

                svg:hover [data-x="25"] circle {
                    transition-delay: 0.5s;
                }
            }

            div:last-of-type {

                a {
                    display: block;
                    padding-right: 2px;

                    text-align: right;
                }
            }
        }

        #registerButton {
            margin-top: 100px;

            pointer-events: auto;

            button {
                display: block;
                padding: 10px 50px;

                cursor: pointer;

                color: rgba(0, 0, 0, 0.6);
                background-color: rgba(255, 255, 255, 0.5);
                border: none;
                border-radius: 10px;

                font-size: 1.3rem;
                transition: background-color 0.5s ease;
            }

            button:hover, button:focus {
                background-color: rgba(255, 255, 255, 0.8);
            }

            p {
                text-align: center;

                a {
                    color: white;
                    text-decoration: none;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }

        #down {
            position: absolute;
            left: calc(50% - 65px / 2);
            bottom: 30px;

            fill: rgba(255, 255, 255, 0.5);

            pointer-events: auto;
        }

        #down:hover [cy] {
            fill: white;

            transition: fill 0.5s;
        }

        #down:hover [cy="5"] {
            transition-delay: 0.1s;
        }

        #down:hover [cy="15"] {
            transition-delay: 0.2s;
        }

        #down:hover [cy="25"] {
            transition-delay: 0.35s;
        }

        #down:hover [cy="35"] {
            transition-delay: 0.45s;
        }
    }

    > div {
        position: relative;
        z-index: 1;

        width: 100%;
        height: 100%;
    }

    article:before {
        content: '';
        display: block;
        position: relative;
        bottom: 10px;

        width: 100%;
        height: 10px;

        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }

    article {
        position: relative;
        z-index: 3;

        color: #333;
        background: #eee;

        div {
            margin: 0 auto;
            padding: 3rem;

            width: 960px;

            p:nth-of-type(2n - 1) {
                padding-right: 400px;
            }

            p:nth-of-type(2n) {
                padding-left: 400px;
                text-align: right;
            }

            h1:nth-of-type(2n) {
                text-align: right;
            }
        }
    }

    article:after {
        content: '';
        display: block;

        position: relative;
        top: 10px;

        width: 100%;
        height: 10px;

        background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
        border-top: 1px solid #000000;
    }

    footer {
        position: relative;
        z-index: 1;
        height: 12rem;

        background-color: #333;

        div {
            position: fixed;
            bottom: 0;

            margin: 3rem;
            padding: 0;
            height: 6rem;
        }

        p {
            position: fixed;
            right: 2rem;
            bottom: 1rem;
            margin: 0;

            color: #666;
            font-style: italic;
            text-align: right;

            a {
                color: #666;
                text-decoration: none;
            }
        }
    }

    footer:hover a {
        text-decoration: underline;
    }
}

@-webkit-keyframes orbit {
    0%   {
        -webkit-transform: rotate(0deg);
    }

    100%   {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes orbit {
    0%   {
        transform: rotate(0deg);
    }

    100%   {
        transform: rotate(360deg);
    }
}
